<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lottery 2016</title>
</head>
<body style="margin:0;overflow: hidden">
    <canvas id="canvas"></canvas>
    <script src="~/dist.js"></script>
</body>
</html>