<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Source" value="%Desktop%\抽奖\抽奖照片（最终版）"/>
    <add key="Dest" value="%Desktop%\抽奖\生成"/>
    <add key="ExcelPath" value="%Desktop%\抽奖\抽奖.xlsx"/>
  </appSettings>
</configuration>